@import "tailwindcss";

@layer base {
  :root {
    --font-color: rgb(243, 237, 219);
    --hint-color: rgb(from var(--font-color) r g b / calc(alpha * 0.5));;

    --bg-color: rgb(36,36,36);
  }

  body {
    @apply 
      min-w-[320px]
      min-h-screen 
      relative m-0 
      bg-(--bg-color);
  }

  * {
    @apply text-(--font-color);
  }

  dialog[open] {
    margin: auto;
  }

  
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input::placeholder {
    @apply text-(--hint-color)
  }

  button {
    @apply border rounded p-1 cursor-pointer;
  }
}