@import "tailwindcss";

@layer base {
  :root {
    /* css é MUITO legal */
    --original-theme-color: #a9631e;
    --theme-color: var(--original-theme-color);

    --bg-color: hsl(from var(--theme-color) h calc(s * 0.5) 10%);

    --font-color: hsl(from var(--theme-color) h calc(s * 0.8) 85%);

    --hint-color: hsl(from var(--font-color) h s l / 0.5);
    --focus-color: hsl(from var(--theme-color) h 100% 40%);

    --light-border-color: hsl(from var(--font-color) h s l / 0.3);

    --red: rgb(255,0,0);

    overscroll-behavior: none;
    touch-action: manipulation;
  }

  * {
    @apply text-(--font-color) appearance-none;
  }

  body {
    @apply 
      min-w-[320px]
      min-h-screen 
      relative p-0 m-0 
      bg-(--bg-color);
  }

  input[type="date"] {
    cursor: text;
    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(100%);
    }
  }

  input::placeholder {
    @apply text-(--hint-color)
  }

  dialog {
    max-width: 100vw;
    max-height: 100vh;
  }

  dialog::backdrop {
    background-color: hsl(from var(--bg-color) h s l / 20%);
    @apply backdrop-blur-xs;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .button {
    @apply border rounded-md p-1 cursor-pointer block min-w-fit;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  dialog.modal {
    margin: auto;
    @apply w-[90vw] md:w-[50vw] lg:w-[40vw] rounded-xl border;
  }

  dialog.top-left {
    user-select: none;
    margin-right: auto;
  }

  dialog.top-right {
    user-select: none;
    margin-left: auto;
  }

  .focus-border {
    @apply border rounded-md block min-w-fit focus-within:border-(--focus-color);
  }
}