@import "tailwindcss";

@layer base {
  :root {
    /* css é MUITO legal */
    --theme-color: #ff00dd;

    --bg-color: hsl(from var(--theme-color) h calc(s * 0.5) 10%);

    --font-color: hsl(from var(--theme-color) h calc(s * 0.8) 90%);

    --hint-color: hsl(from var(--font-color) h s l / 0.7);
    --table-color: hsl(from var(--font-color) h s l / 0.3);
  }

  body {
    @apply 
      min-w-[320px]
      min-h-screen 
      relative m-0 
      bg-(--bg-color);
  }

  * {
    @apply text-(--font-color) ;
  }

  dialog[open] {
    margin: auto;
  }

  
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input::placeholder {
    @apply text-(--hint-color)
  }

  .button {
    @apply border rounded p-1 cursor-pointer;
  }
}